body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

* {
	position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.phone {
  border-radius: 15px;
  background: #aaa;
  display: inline-block;
  padding: 20px 20px 50px 20px;
}

.screen {
  background: #fafafa;
  display: inline-block;
  height: 640px;
  width: 360px;
  overflow: hidden;
}

.guide {
  padding: 64px 0;
  text-align: center;
}

.text-guide {
  color: #666;
  display: inline-block;
  font-size: 40px;
  max-width: 80%;
}

.fridge {
  display: inline-block;
  margin-top: 60px;
  position: relative;
}

.fridge-half {
	border-radius: 2px;
	position: relative;
  border: 3px solid #666; 
  min-height: 60px;
  width: 100px;
}

.fridge-half.lower {
	height: 90px;
}

.handle {
  position: absolute;
  right: 10px;
  top: 15px;
  border: 3px solid #666; 
  height: 16px;
  width: 0px;
}

.magneto {
	background: #333;
	border-radius: 9px;
	display: inline-block;
	height: 18px;
	width: 18px;
  position: absolute;	
}

.magneto.m1 {
	left: 14px;
	top: 20px;
}

.magneto.m2 {
	left: 40px;
	top: 20px;
}

.magneto.m3 {
	left: 40px;
	top: 20px;
}

@-webkit-keyframes tapping {
	0% {-webkit-transform: translate(0,0) rotate(-25deg);}
	50% {-webkit-transform: translate(10px,20px) rotate(-25deg);}
	100% {-webkit-transform: translate(0,0) rotate(-25deg);}
}

.cursor {
	background-image: url('cursor.png');
	background-size: cover;
	height: 64px;
	width: 64px;
	position: absolute;
	left: 166px;
	top: 401px;
	-webkit-animation-name: tapping;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
}

.scene {
  display: none;
  padding-top: 32px;
  text-align: left;
  height: 100%;
}

.scene.showing {
  display: block;
}

.scene1 {
  padding-top: 0;
  text-align: center;
}

.entry {
  color: #333;
  padding: 16px 32px;
  text-align: left;
  white-space: nowrap;
}

.entry .checkbox {
  border: 3px solid #aaa;
  border-radius: 6px;
  display: inline-block;
  height: 36px;
  width: 36px;
  margin-right: 16px;
  -webkit-transition: all 0.25ms ease;
}

@-webkit-keyframes showingChecked {
  0% {background-color: rgba(102, 102, 102, 0);}
  100% {background-color: rgba(102, 102, 102, 255);}
}

.entry .checkbox.checked {
  -webkit-animation-name: showingChecked;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes removingEntry {
  0% {-webkit-transform: translate(0, 0);}
  50% {-webkit-transform: translate(0, 0); opacity: 1; }
  100% {-webkit-transform: translate(0, 80%); opacity: 0; }
}

.scene4 .entry.to-be-removed {
  -webkit-animation-name: removingEntry;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
}

.entry .description {
  display: inline-block;
  font-size: 32px;
  margin-top: 3px;
  vertical-align: top;
}

.entry .delete {
  background-color: #666;
  border-radius: 3px;
  height: 6px;
  width: 6px;
  float: right;
  vertical-align: top;
  margin: 20px 3px 0 0;
}

.header-row {
  color: #666;
  font-size: 24px;
  margin-bottom: 16px;
}

.header-row .done {
  padding-left: 16px;
}

.header-row .remove {
  float: right;
  padding-right: 16px;
}


/* Inventory */
.inventory {
  background-color: #555;
  font-weight: 300;
  height: 120%;
  width: 100%;
  position: absolute;
  top: 586px;
}

.inventory,
.inventory .entry,
.inventory .header-row {
  color: #eee;
}

.inventory .title {
  background-color: #666;
  font-size: 32px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 16px;
}

@-webkit-keyframes showingIndicator {
  0% {
    -webkit-transform: scale(0, 0);
  }
  66% {
    -webkit-transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

.inventory .indicator {
  background-color: #eee;
  border-radius: 6px;
  position: absolute;
  height: 12px;
  width: 12px;
  right: 30px;
  top: 22px;
}

.inventory.showing-indicator .indicator {
  -webkit-animation-name: showingIndicator;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all 1s ease-in;
}

.inventory.showing {
  top: 0;
}

@-webkit-keyframes showingInventory {
  0% {
    top: 586px;
  }
  100% {
    top: 0px;
  }
}

.inventory.showing-ani {
  -webkit-animation-name: showingInventory;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: top 1s ease-in-out;
}

.header-row .freshness {
  padding-left: 16px;
}

.svg-icon {
  height: 40px;
  width: 40px;
}

.inventory .entry .svg-icon {
  fill: white;
  margin: 8px 16px 0 0;
}

.inventory .entry .delete {
  background-color: #eee;
}

.inventory .entry .date {
  font-size: 18px;
}